
$danger:  rgb(233, 63, 233);
#header {
box-shadow: 0 2px 5px #789;
    a{
        color: $danger;
        font-size: 20px;
        gap: 5rem;
        font-family:Arial, Helvetica, sans-serif ;
        font-weight: 550;
    }
}

$font-family-sans-serif: 'Outfit', sans-serif;

.separar{
    width: 100%
}

.titulo{
font-size: 6rem;
color: $danger;
font-weight: 1000;
font-family: 'Great Vibes', cursive;
}
.segundotitle{
    @extend .titulo;
    font-size: 3rem;
    font-family: 'Outfit', sans-serif; 
}
.low{
    @extend .titulo;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem
}

.firstcolumn{
    transition: transform 2s;
}

.firstcolumn:hover{
    transform: translate(10px) scale(1.1);
}

footer {
    background: $danger;
    min-height: 100px;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  {
    i {
        font-size: 26px;
        padding: 0 8px;
        color:#f3f3f3;
    }
    
}

#rrss{
    @extend #iconos;
    margin-left: 300px;
    position: fixed;
    right: 0;
    z-index: 1000;
    .changecolor{
        transition: all .5s;
        /* color: #c61995; */
        } 
}

.bi-whatsapp{
    background: green;
    border-radius: 1rem 0 0 0;
}

.bi-facebook{
    background: blue;
    border-radius: 1rem 0 0 0;
}

.bi-instagram{
    background: violet;
    border-radius: 0 0 0 1rem;
}

.changecolor:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}



@media screen and (min-width: 748px){
    .carousel-item{
        height: 70rem;
    }
    .prueba{
        object-fit: contain;
    }
}




$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 17,
  6: $spacer * 3,
  7: $spacer * 12,
  8: $spacer * 6,
);




@import "../node_modules/bootstrap/scss/bootstrap"; /* Bootstrap */



